version: "3.9"

services:
  backend:
    build: ./backend
    container_name: scheduler-backend
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: always

  frontend:
    build: ./frontend
    container_name: scheduler-frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    restart: always
